<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Hotspot Home | Mobile{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/static/mobile/css/style.css"/>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% block includes %}{% endblock includes %}
    </head>
    <body>
        <header>
            {% block topbar %}
                <h1>HOTSPOT Beta</h1>
                <div id="device"> {{ device }}</div>
                {% if request.user.is_authenticated %}
                    <img id="profile-pic" src="{{profile_img}}" alt="{{user.get_full_name}}">
                    <div id="links">
                            <a id="login-link" href="/auth/logout">Logged In</a>
                    </div>
                {% else %}
                    <img id="profile-pic" src="http://vpn.nicksweeting.com/images/down.gif">
                    <div id="links">
                            <a id="login-link" href="/auth/login" >Log In</a>
                    </div>
                {% endif %}
            {% endblock topbar %}
        </header>

        <div id="content">
            {% block content %}{% endblock content %}
        </div>
        {{ analytics_code }}
        {{ uservoice_code }}
    </body>
</html>
