{% extends "mobile/base.html" %}

    {% block title %}Hotspot Home | Mobile{% endblock title %}

    {% block includes %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfqBxaWVr861YPUXahCNkoLJEHznXvp7k&sensor=true"></script>
        <script type="text/javascript">
            var inhotspots = '{{ hotspots_json | escapejs }}';
            var hotspots = JSON.parse(inhotspots);

            // Default cords = center of portland
            var user_lat = 45.5310495;
            var user_lon = -122.6651523;

            // TODO: compartamentalize geolocate+apps into a module/imported template

            var map;
            var user_location;
            var user_lat;
            var user_lon;

            function initialize() {
                // user defaults at default cords
                user_location = new google.maps.LatLng(user_lat, user_lon);
                var mapOptions = {
                    zoom: 12,
                    center: user_location
                };
                // init map
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                // geolocate
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(success, error, {timeout:10000});
                }
                else {
                    console.log('geolocation not supported on this device');
                }
                function success(position) {
                    // set user_position to geolocated cords, then center map there
                    user_lat = position.coords.latitude;
                    user_lon = position.coords.longitude;
                    user_location = new google.maps.LatLng(user_lat, user_lon);
                    map.panTo(user_location);
                    map.setCenter(user_location, 12);


                    var marker = new google.maps.Marker({
                        position: user_location,
                        map: map,
                        title:"My Current Location",
                        icon: "static/mobile/geolocate.png",
                        url: "http://google.com"
                    });
                    marker.setMap(map);
                }
                function error(msg) {
                    console.log('geolocation error: ' + msg);
                }

                // Loop through through all hotspots and place markers on the map
                $.each(hotspots, function() {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(this.LAT, this.LNG),
                        map: map,
                        title:this.name
                    });
                    marker.setMap(map);
                });
            }

            window.onload = initialize;

        </script>
    {% endblock includes %}

    {% block content %}
        <div id="promotions">
            <ul>
                <li>Promotion one</li>
                <li>Promotion two</li>
                <li>Promotion three</li>
            </ul>
        </div>
        <div id="map-canvas"></div>
        <div id="map-border"><a>Hotspots</a><a>Friends</a></div>
        {% if hotspots %}
            {% for hotspot in hotspots %}
                <div class="body-section hotspot">
                    <a href="/api/hotspot/{{hotspot.id}}/" id="name">{{ hotspot.name }}</a><br>
                    ID: {{ hotspot.id }}<br>
                    User: {{ hotspot.user }}<br>
                    Latitude: <a id="LAT">{{ hotspot.LAT }}</a><br>
                    Longitude: <a id="LNG">{{ hotspot.LNG }}</a><br>
                    Description: {{ hotspot.description }}<br>
                    Logo: <img src="{{hotspot.logo}}"\>
                </div>
            {% endfor %}
        {% else %}
            <div class="body-section">0 Hotspots found.</div>
        {% endif %}
    {% endblock content %}
