body {
    background-color: #aab;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    -webkit-padding-start: 0px;
    padding: 0px;
    width: 100%;
}

li {
    padding:0px;
    padding-bottom: 15px;
}

.body-section {
    display: inline-block;
    border: 1px #eee dashed;
    width: 90%;
    max-width: 500px;
    min-width: 200px;
    margin: 5px;
}


#map-canvas {
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0px
}
