.logged-in {
    background: gainsboro url("/static/img/CCTVMobile.jpg") no-repeat center 80px;
}
.logged-out {
    background: gainsboro url("/static/img/WhatAreYouLookingAt.jpg") no-repeat center 30px;
    background-size: 90%;
}
.pull-right {
    float:right;
}
