<!DOCTYPE html>
<html>
<head>
    <title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
    <div class="body-section">
        {% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}
    </div>
    <div class="body-section">
        <div id="map-canvas"></div>
    </div>
    <div class="body-section">
        Whopdedoo! Mobile device, welcome to the homepage.
    </div>
    {% if hotspots %}
        {% for hotspot in hotspots %}
            <div class="body-section hotspot">
                <a href="/api/hotspot/{{hotspot.id}}/" id="name">{{ hotspot.name }}</a><br>
                ID: {{ hotspot.id }}<br>
                User: {{ hotspot.user }}<br>
                Latitude: <a id="LAT">{{ hotspot.LAT }}</a><br>
                Longitude: <a id="LNG">{{ hotspot.LNG }}</a><br>
                Description: {{ hotspot.description }}<br>
                Logo: <img src="{{hotspot.logo}}"\>
            </div>
        {% endfor %}
    {% else %}
        <div class="body-section">0 Hotspots found.</div>
    {% endif %}
</body>
</html>
