{% extends "mobile/mobile_base.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    <script src="{% get_static_prefix %}3rd_party/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="{% get_static_prefix %}3rd_party/js/jquery.accordion.source.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		// <![CDATA[	
		$(document).ready(function () {
			$('ul').accordion();
		});
		// ]]>
	</script>
{% endblock %}

{% block title %}{% trans "Restaurants" %}{% endblock %}

{% block header_text %}{% trans "Restaurants" %}{% endblock %}

{% block body_content %}
		<section class="content_wrapper list">
			<section class="row lis_top_bg">
				<section class="eight columns pad">
					<span class="lis_im">
						<img src="{% get_static_prefix %}images/map.png" />
						<ul>
							<li class="curr">{% trans "Current Address" %}</li>
							<li class="cur_det">
                              {% if address.street_number %}
                                  {% blocktrans with address.street_number as street_number and address.street as street %}{{street_number}} {{street}}{% endblocktrans %}
                              {% else %}
                                  {{address.label}}
                              {% endif %}
                            </li>
                            <li>({{ restaurants_count }} {% trans "Restaurants that deliver to your address" %})</li>
						</ul>
						<a href="{% url mobile_address_setter %}" class="err">{% trans "Change Address" %}</a>
					</span>
				</section>
			</section>
			
			<div id='filters'>
    			<section class="row pad list_bore">
    				<section class="ten columns fil">
    					<img src="{% get_static_prefix %}images/filter.png" />{% trans "Filter & Sort" %}
    				</section>
    				<section class="two columns">
    					<a class="list_sid" id="filter_sort" href="#"><img src="{% get_static_prefix %}images/down_arrow.png" /></a>
    				</section>
    			</section>
    			<section class="row" id="can_slide_0" style="display: none;">
    				<section class="three columns"></section>
    				<section class="six columns">
    					<span class="search"><img src="{% get_static_prefix %}images/search.png" /></span>
                        <input type="text" name="txt_search" id="search_restaurant_name" onfocus="this.value=''" value="{{search_string|default:'Search Restaurant Name'}}"><br/>
                        <button class="close" id="search_button">Search</button>
    				</section>
    				<section class="three columns"></section>
    			</section>
    			<section class="row pad gry" id="can_slide_1" style="display: none;">
    				<div class="filter_dropdown_left">
                        <strong>{% trans "Sort by Cuisine:" %}</strong>
    					<select id="sort_by_cuisine" name="food" form="#">
                              {% for cuisine_choice in cuisine_choices %}
                              <option value="{{cuisine_choice.1}}" {% ifequal cuisines cuisine_choice.1%}selected{%endifequal%}>{{cuisine_choice.0}}</option>
                              {% endfor %}
    					</select> 
                        <input id="free_delivery_only" type="checkbox" {% ifequal no_delivery_fee 'true'%}checked{% endifequal %} />{% trans "Free Delivery Only" %}<br>
    				</div>
    				<div class="filter_dropdown_right">
    					<strong>{% trans "Sort by Price:" %}</strong>
    					<select id="sort_by_price" name="food" form="#">
                              {% for average_price_choice in average_price_choices %}
                              <option value="{{average_price_choice.1}}" {% ifequal lower_price average_price_choice.1 %}selected{% endifequal %}>{{average_price_choice.0}}</option>
                              {% endfor %}
    					</select> 
                        <input id="fastest_first" type="checkbox" {% ifequal fastest_first 'true'%}checked{% endifequal %}>Fastest First<br>
    				</div>
    			</section>
                {% if filter_exists %}
                <section class="row pad lig" id="close_button"><a>{% trans 'Results are filtered, click here to clear filters'%}</a></section>
                {% endif %}
			</div> <!--filters-->
            <!-- Js for filter & search-->
    <script type="text/javascript">
        var sort_by_cuisine = $('#sort_by_cuisine').attr("value");
        var sort_by_price = $('#sort_by_price').attr("value");
        var free_delivery_only = $('#free_delivery_only').attr("checked");
        var fastest_first = $('#fastest_first').attr("checked");

        //slide up  and down
        $("#filter_sort").click(function(){
            can_slide = $("#can_slide_0, #can_slide_1")
            if (can_slide.is(':hidden')) {
                can_slide.slideDown();
            } else {
                can_slide.slideUp();
            }
        });
        $("#sort_by_cuisine").change(function(){
            sort_by_cuisine = $('#sort_by_cuisine').attr("value");
            goto(buildURL());
         });
        $("#sort_by_price").change(function(){
            sort_by_price = $('#sort_by_price').attr("value");
            goto(buildURL());
         });
        $("#free_delivery_only").change(function(){
            free_delivery_only = $('#free_delivery_only').attr("checked");
            goto(buildURL());
        });
        $("#fastest_first").change(function(){
            fastest_first = $('#fastest_first').attr("checked");
            goto(buildURL());
        });
        // search functionality
        $('#search_button').click(function(){
            value = $("#search_restaurant_name").attr("value");
            if(value == "Search Restaurant Name"){
                value = "";
            }
            goto(window.location.pathname + "?query=" + value);
        });
        $('#search_restaurant_name').change(function(){
            value = $('#search_restaurant_name').attr("value");
            if(value == "Search Restaurant Name"){
                value = "";
            }
            goto(window.location.pathname + "?query=" + value);
        });
        function goto(url){
           window.location = url;
        }
        function buildURL(){
            url = window.location.pathname + "?";
            url += "cuisines=" + sort_by_cuisine + "&";
            url += "lower_price=" + sort_by_price + "&";
            url += "no_delivery_fee=" + free_delivery_only + "&";
            url += "fastest_first=" + fastest_first;
            return url;
        }
        //Clear Search & Sort
        $('#close_button').click(function(){
            goto(window.location.pathname + "?query=");
        });

    </script>
            {# all restaurants are preorder restaurants #}
            {% if next_open_restaurant_datetime %}
			  <section class="row pad lig">
                {% blocktrans with open_time=next_open_restaurant_datetime|date:"Y-m-j H:i" %}All the restaurants in your area are currently closed! The next restaurant will open at {{open_time}}.{% endblocktrans %}
			  </section>
            {% endif %}

            {% if not restaurants %}
			  <section class="row pad lig">
                {% trans "Sorry, we don't have restaurants in your area currently." %}
              </section>
              
            {% else %}
            <table border="0" class="restaurant_table" style="border-spacing:0;margin-left:auto;margin-right:auto;">
			  {% for r in restaurants %}
			    {% if r.nowOpen %}
			    <tr>
			        <td width="45%" class="left">
    					  <section class="icon">
    						<span class="list_det_img">
                              {% if r.logo.name %}
                                <img class="restaurantLogoSmall" src="{{r.logo.url}}" alt="{{r.name_localized}}" />
                              {% else %}
                                <img class="restaurantLogoSmall" src="/media/img/CHINA/temp_restaurantlogo.jpeg" alt="restaurant logo"/>
                              {% endif %}
    						</span>
                            <span class="list_det_img">{{r.name_localized}}</span>
    					  </section>
				    </td>
			        <td class="right">
    						<p class="cuisine"><img src="{% get_static_prefix %}images/westurn.png" />
    						<strong>{{ r.main_category }}</strong>
    						</p>
    						<p class="delivery_text" ><img src="{% get_static_prefix %}images/delivery.png" />
    						  <strong>{{ r.delivery_fee_explanation }}</strong>
                              <strong class="green">{% if r.delivery_time_range %}<br>
                              {{r.delivery_time_range}} {% trans "Min" %}{% endif %}</strong>
                            </p>
    						<a class="gr_li" href="{% url mobile_menu r.slug %}?aid={{address_id}}">{% trans "View Menu" %}</a>
    				</td>
				</tr>
                {% endif %}
			  {% endfor %}
			 </table>

            {% endif %}

            {% if show_chinese_only_warning %}
			  <section class="row pad lig">
                {% blocktrans %}There are some more restaurants in your area with only chinese menus. Switch language to see all the restaurants. {% endblocktrans %}
			  </section>
            {% endif %}
		</section>
{% endblock %} <!--body_content-->
